= javascript_include_tag "analytics_extension/application"
= stylesheet_link_tag "analytics_extension/application"

%ul.breadcrumb
  %li
    = link_to 'Home', main_app.admin_root_path
    
  %li
    = link_to 'Extensions', main_app.admin_extensions_path
    
  %li.active API Analytics

.page-header
  %h1 API Analytics
  %p
    View and manage API analytics data.
    - if @api_versions.blank?
      %br
      There is no usage data at this time.

.row
  .col-md-8
    = chart_tag(start_date: @start_date, end_date: @end_date)
  .col-md-4
    - if !@api_versions.blank?
      .well
        = form_tag regenerate_path, :remote => true, :'data-update-chart' => 'chart' do
          .form-group
            = label_tag "API Version"
            = select_tag 'api_version', options_from_collection_for_select(@api_versions, 'to_s', 'to_s'), class: 'form-control'
          .form-group
            = label_tag "Start Date"
            = text_field_tag "start_date", @start_date.strftime('%m/%d/%Y'), class: 'form-control'
          .form-group
            = label_tag "End Date"
            = text_field_tag "end_date", @end_date.strftime('%m/%d/%Y'), class: 'form-control'
          .form-actions
            = submit_tag 'Regenerate Chart', class: 'btn btn-primary'
